.warning {
    background-color: #765ca1;
    padding: 10px;
    border-radius: 8px;
}

.warningHeader {
    font-weight: bold;
    font-size: 24px;
}

.warningBold {
    font-weight: bold;
    margin-top: 20px;
}

.warningItem {
    margin-top: 10px;
}

.warningPopup {
    text-decoration: underline;
    cursor: pointer;
}
