.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    backdrop-filter: blur(3px);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #343d80;
    padding: 30px;
    z-index: 101;
    border-radius: 8px;
    max-width: min(500px, 90%);
    min-width: min(250px, 90%);
}

.modalCloseBox {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modalCloseX {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    align-items: top;
}

.listItem {
    margin-bottom: 5px;
}

.modalIcon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-top: 5px;
}

.modalSymbol {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
